body {
  background: black;
  color: white;
}

#card {
  background-color: lightgray;
}
#ticket {
  background-color: gray;
  color: blue;
  width: 50%;
  display: block;
  margin: auto;
}

#details {
  background-color: gray;
  color: blue;
  width: 80%;
  display: block;
  margin: auto;
}

#edit {
  background-color: gray;
  color: blue;
  margin: auto;
  width: 80%;
  display: block;
  
}

#delete {
  background-color: gray;
  color: red;
  margin: auto;
  width: 80%;
  display: block;
}
